<ion-header>
  <ion-navbar color="primary">
    <ion-title>Usuarios</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openAlertNewTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngIf="tasks.length == 0">
      Empty
    </ion-item>

    <ion-item-sliding #sliding *ngFor="let task of tasks; let i = index">
      <ion-item>
        <ion-label>{{ task.title }}</ion-label>
        <ion-checkbox (ionChange)="onChange( task)" [checked]="task.completed"></ion-checkbox>
      </ion-item>
      <ion-item-options side="right" icon-left>
        <button ion-button color="danger" (click)="deleteTask(task, i)">
          <ion-icon name="trash"></ion-icon>
          ELIMINAR
        </button>
        <button ion-button color="secondary" (click)="updateTask( task, i )">
          <ion-icon name="create"></ion-icon>
          EDITAR
        </button>
      </ion-item-options>
    </ion-item-sliding>

    
  </ion-list>

  <button ion-button full (click)="cargarUsuarios()">Traer Usuarios</button>

  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-avatar item-start>
        <img [src]="usuario.picture.medium">
      </ion-avatar>
      <h2>{{ usuario.name.first }}</h2>
      <p>{{ usuario.email }}</p>
    </ion-item>
  </ion-list>

  <ion-item>
      <button ion-button (click)="guardarUsuarios()" >Nombre Usuario</button>
    </ion-item>

  <ion-list>
      <ion-item *ngFor="let nombre of nomUsuario">
        <h2>{{ nombre }}</h2>
      </ion-item>
    </ion-list>

</ion-content>